Repository diabetactic/diabetify: changes, and which lefthook commands are due for each by the changed paths.
All: lint-ts, lint-html, lint-scss, lint-json, no-secrets, lockfile-check, no-console-logs, no-hardcoded-text

Path conditions:
  lint-ts: any of: *.{ts,js}
  lint-html: any of: *.html
  lint-scss: any of: *.scss
  lint-json: any of: *.{json,md}
  no-secrets: any of: *.{ts,js,json,env}
  lockfile-check: any of: package.json
  no-console-logs: any of: *.ts
  no-hardcoded-text: any of: *.scss

perf(ci): optimize workflows - reduce ~40 min/push to ~8 min
  .github/actions/setup-pnpm/action.yml
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
Due: none

chore: fix version inconsistencies across configs and docs
  .deepsource.toml
  .github/actions/setup-pnpm/action.yml
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/USER_GUIDE.md
Due: lint-json

chore: fix version inconsistencies across configs and docs
  .deepsource.toml
  .github/ISSUE_TEMPLATE/claude-task.md
  .github/ISSUE_TEMPLATE/codex-task.md
  .github/ISSUE_TEMPLATE/jules-task.md
  .github/actions/setup-pnpm/action.yml
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/USER_GUIDE.md
Due: lint-json

chore: update landing page version references
  docs/index.html
Due: lint-html

chore: clean up root configuration files
  .gitignore
  docker-compose.yml
  mise.toml
  netlify.toml
  proxy.local.json
  render.yaml
  turbo.json
Due: lint-json, no-secrets

refactor(testing): complete Jest to Vitest migration
  eslint.config.js
  knip.json
  src/app/appointments/appointments.page.spec.ts
  src/app/core/services/readings.service.offline.spec.ts
  src/app/tests/helpers/dom-utils.ts
  src/app/tests/helpers/test-isolation.helper.ts
  src/app/tests/helpers/translate-test.helper.ts
  src/app/tests/integration/README.md
  src/app/tests/mocks/ionicons.mock.ts
  src/setup-vitest.ts
  src/test-setup/factories/appointments.factory.ts
  src/test-setup/factories/index.ts
  src/test-setup/factories/profile.factory.ts
  src/test-setup/factories/readings.factory.ts
Due: lint-ts, lint-json, no-secrets, no-console-logs

docs: update documentation for Vitest 4 and Capacitor 8
  CLAUDE.md
  android/app/capacitor.build.gradle
  docs/TEST_SETUP_STRUCTURE.md
Due: lint-json

refactor(ci): split CI jobs for parallel execution and add E2E matrix
  .github/workflows/ci.yml
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: lint-ts, lint-json, no-secrets, no-console-logs

chore: clean up root directory config files
  .gitignore
  .prettierignore
  render.yaml
  vitest.config.minimal.ts
Due: lint-ts, no-secrets, no-console-logs

refactor: replace console.* with LoggerService
  src/app/core/services/appointment.service.spec.ts
  src/app/core/services/external-services-manager.service.ts
  src/app/core/services/glucoserver.service.spec.ts
  src/app/core/services/glucoserver.service.ts
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/notification.service.spec.ts
  src/app/core/services/platform-detector.service.spec.ts
  src/app/core/services/profile.service.spec.ts
  src/app/core/services/service-orchestrator.service.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/tidepool-auth.service.spec.ts
  src/app/core/services/token-storage.service.spec.ts
  src/app/core/services/token-storage.service.ts
  src/app/core/services/translation.service.spec.ts
  src/app/core/services/translation.service.ts
  src/app/core/services/unified-auth.service.ts
  src/app/dashboard/dashboard-detail/dashboard-detail.page.ts
  src/app/trends/trends.page.ts
  src/test-setup/index.ts
  src/test-setup/mocks/angular.mock.ts
Due: lint-ts, no-secrets, no-console-logs

test(integration): add backend integration tests
  lefthook.yml
  playwright/tests/sync-proof-comprehensive.spec.ts
  src/app/tests/helpers/backend-services.helper.ts
  src/app/tests/integration/backend/achievements.integration.spec.ts
  src/app/tests/integration/backend/appointments-queue.integration.spec.ts
  src/app/tests/integration/backend/concurrent.integration.spec.ts
  src/app/tests/integration/backend/error-recovery.integration.spec.ts
  src/app/tests/integration/backend/offline-sync.integration.spec.ts
  src/app/tests/integration/backend/workflows.integration.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix: resolve DeepSource issues batch 1 (~400 issues)
  .deepsource.toml
  src/app/appointments/appointments.page.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/services/achievements.service.ts
  src/app/core/services/api-gateway.service.ts
  src/app/core/services/appointment.service.ts
  src/app/core/services/demo-data.service.ts
  src/app/core/services/local-auth.service.spec.ts
  src/app/core/services/local-auth.service.ts
  src/app/core/services/notification.service.ts
  src/app/core/services/profile.service.ts
  src/app/core/services/translation.service.ts
  src/app/core/services/unified-auth.service.ts
  src/app/readings/readings.page.ts
  src/app/shared/components/env-badge/env-badge.component.ts
  src/app/trends/trends.page.ts
  src/main.ts
Due: lint-ts, no-secrets, no-console-logs

test: add comprehensive testing trophy improvements
  playwright/tests/visual-regression.spec.ts
  src/app/tests/integration/backend/bolus-calculator.integration.spec.ts
  src/app/tests/integration/backend/settings-sync.integration.spec.ts
  src/app/tests/integration/backend/trends-statistics.integration.spec.ts
Due: lint-ts, no-secrets, no-console-logs

ci: integrate Playwright visual regression testing into CI
  .github/workflows/ci.yml
  .github/workflows/visual-update.yml
  package.json
  playwright.config.ts
  src/app/tests/integration/backend/profile-crud.integration.spec.ts
Due: lint-ts, lint-json, no-secrets, lockfile-check, no-console-logs

chore: fix dead code warnings and add visual regression baselines
  knip.json
  playwright/tests/visual-regression.spec.ts
  playwright/tests/visual-regression.spec.ts-snapshots/welcome-dark-mobile-chromium.png
  playwright/tests/visual-regression.spec.ts-snapshots/welcome-light-mobile-chromium.png
  src/app/app-routing.module.ts
  src/app/core/services/local-auth.service.ts
  src/app/shared/components/index.ts
  src/app/shared/components/profile-item/profile-item.component.html
  src/app/shared/components/profile-item/profile-item.component.scss
  src/app/shared/components/profile-item/profile-item.component.ts
  src/app/shared/icons/lucide-icons.ts
  src/app/tests/helpers/dom-utils.ts
  src/app/trends/trends.page.ts
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, no-console-logs, no-hardcoded-text

test: add comprehensive Docker-based E2E and visual regression tests
  playwright/tests/docker-trends-settings.spec.ts
  playwright/tests/docker-visual-regression.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(ci): use valid GitHub Actions versions (v4 not v6/v7)
  .github/actions/setup-pnpm/action.yml
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/visual-update.yml
Due: none

fix(ci): remove conflicting paths-ignore (only one allowed per event)
  .github/workflows/ci.yml
Due: none

fix(ci): serve static www folder for E2E and visual tests
  .github/workflows/ci.yml
Due: none

fix(ci): build with mock mode for E2E tests
  .github/workflows/ci.yml
Due: none

fix(ci): add SPA mode to static server for client-side routing
  .github/workflows/ci.yml
Due: none
