Repository diabetactic/diabetify: changes, and which lefthook commands are due for each by the changed paths.
All: lint-ts, lint-html, lint-scss, lint-json, no-secrets, lockfile-check, no-console-logs, no-hardcoded-text

lint-ts:
  run: npx prettier --write {staged_files} && npx eslint --fix {staged_files}
  stage_fixed: true

lint-html:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lint-scss:
  run: npx prettier --write {staged_files} && npx stylelint --fix {staged_files}
  stage_fixed: true

lint-json:
  run: npx prettier --write {staged_files}
  stage_fixed: true

no-secrets:
  run: "if grep -rE \"(password|secret|api_key|private_key)\\s*[:=]\\s*['\\\"][^'\\\"]+['\\\"]\" {staged_files} 2>/dev/null | grep -v \"\\.spec\\.\" | grep -v \"mock\" | grep -v \"\\.helper\\.\" | grep -v \"// Public test credentials\" | grep -v \"debug-panel\"; then\n  echo \"❌ Potential secrets dete
  ...

lockfile-check:
  run: "if [ -f pnpm-lock.yaml ]; then\n  if ! pnpm install --frozen-lockfile --ignore-scripts 2>/dev/null; then\n    echo \"⚠️  pnpm-lock.yaml may be out of sync. Run 'pnpm install' to update.\"\n  fi\nfi\n"

no-console-logs:
  run: "if grep -n \"console\\\\.log\\\\|console\\\\.debug\" {staged_files} 2>/dev/null | grep -v \"\\.spec\\.ts\" | grep -v \"logger\\.service\\.ts\" | grep -v \"environment\" | grep -v \"logPlatformInfo\"; then\n  echo \"⚠️  console.log statements found. Consider using LoggerService instead.\"\nfi\n
  ...

no-hardcoded-text:
  run: "# Flag content: \"text\" but allow symbols/icons (single char or common symbols)\nif grep -n \"content:\\s*['\\\"][a-zA-Z][a-zA-Z]\" {staged_files} 2>/dev/null; then\n  echo \"⚠️  Hardcoded text in CSS detected. Use HTML data-* attributes or i18n in templates instead.\"\n  echo \"   Allowed: s
  ...

fix(e2e): stabilize 'add new reading' Docker test
  playwright/tests/docker-backend-e2e.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(e2e): stabilize Docker E2E tests and add appointment coverage
  playwright/tests/appointment-comprehensive.spec.ts
  playwright/tests/appointment-comprehensive.spec.ts-snapshots/appointment-delete-option-mobile-chromium.png
  playwright/tests/appointment-comprehensive.spec.ts-snapshots/appointment-detail-docker-mobile-chromium.png
  playwright/tests/appointment-comprehensive.spec.ts-snapshots/appointment-queue-blocked-mobile-chromium.png
  playwright/tests/appointment-comprehensive.spec.ts-snapshots/appointment-resolution-detail-mobile-chromium.png
  playwright/tests/appointment-comprehensive.spec.ts-snapshots/appointment-state-accepted-with-button-mobile-chromium.png
  playwright/tests/appointment-comprehensive.spec.ts-snapshots/appointment-state-created-mobile-chromium.png
  playwright/tests/docker-e2e-flows.spec.ts
  playwright/tests/docker-e2e-flows.spec.ts-snapshots/e2e-reading-detail-modal-mobile-chromium.png
  playwright/tests/docker-trends-settings.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(e2e): skip bolus calculator Docker E2E tests
  playwright/tests/docker-trends-settings.spec.ts
Due: lint-ts, no-secrets, no-console-logs

refactor: remove dead appointment notification and delete features
  playwright/tests/appointment-comprehensive.spec.ts
  playwright/tests/appointment-comprehensive.spec.ts-snapshots/appointment-delete-option-mobile-chromium.png
  src/app/appointments/appointments.page.html
  src/app/appointments/appointments.page.ts
  src/app/core/models/appointment.model.ts
  src/app/core/services/appointment.service.spec.ts
  src/app/core/services/appointment.service.ts
  src/app/core/services/notification.service.spec.ts
  src/app/core/services/notification.service.ts
Due: lint-ts, lint-html, no-secrets, no-console-logs

refactor: remove dead code for features without backend support
  src/app/core/models/clinical-form.model.ts
  src/app/core/models/glucose-share.model.ts
  src/app/core/models/index.ts
  src/app/core/services/api-gateway.service.spec.ts
  src/app/core/services/api-gateway.service.ts
  src/app/core/services/database.service.ts
  src/app/core/services/demo-data.service.spec.ts
  src/app/core/services/demo-data.service.ts
  src/app/core/services/glucoserver.service.spec.ts
  src/app/core/services/glucoserver.service.ts
  src/app/core/services/local-auth.service.ts
  src/app/core/services/mock-adapter.service.spec.ts
  src/app/core/services/mock-adapter.service.ts
  src/app/core/services/mock-data.service.spec.ts
  src/app/core/services/mock-data.service.ts
  src/app/core/services/readings.service.spec.ts
  src/app/core/services/readings.service.ts
  src/app/core/services/unified-auth.service.spec.ts
  src/app/core/services/unified-auth.service.ts
  src/app/readings/components/readings-list/readings-list.component.html
  src/app/readings/components/readings-list/readings-list.component.ts
  src/app/readings/readings.html
  src/app/readings/readings.page.ts
  src/app/tests/integration-msw/readings-crud.integration.spec.ts
  src/app/tests/integration-msw/sync-conflicts.integration.spec.ts
Due: lint-ts, lint-html, no-secrets, no-console-logs

refactor: remove dead API endpoints after backend audit
  src/app/core/services/api-gateway.service.spec.ts
  src/app/core/services/api-gateway.service.ts
Due: lint-ts, no-secrets, no-console-logs

feat: implement reading edit UI and comprehensive test documentation
  INTEGRATION_TEST_GAPS_EXPLAINED.md
  TEST_COVERAGE_ANALYSIS.md
  playwright/tests/appointment-temporal-rules.spec.ts
  playwright/tests/readings-trends-comprehensive.spec.ts
  src/app/core/services/glucoserver.service.spec.ts
  src/app/core/services/glucoserver.service.ts
  src/app/core/services/mock-adapter.service.spec.ts
  src/app/core/services/mock-adapter.service.ts
  src/app/core/services/service-orchestrator.service.spec.ts
  src/app/core/services/service-orchestrator.service.ts
  src/app/edit-reading/edit-reading.page.html
  src/app/edit-reading/edit-reading.page.scss
  src/app/edit-reading/edit-reading.page.ts
  src/app/readings/components/readings-list/readings-list.component.html
  src/app/readings/components/readings-list/readings-list.component.ts
  src/app/readings/readings.html
  src/app/readings/readings.page.ts
  src/app/shared/components/reading-item/reading-item.component.html
  src/app/shared/components/reading-item/reading-item.component.ts
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, no-console-logs, no-hardcoded-text

docs: add E2E test Docker backend requirements documentation
  E2E_TEST_REQUIREMENTS.md
Due: lint-json

fix(e2e): resolve E2E test issues for reading edit and appointment temporal
  playwright/tests/appointment-temporal-rules.spec.ts
  playwright/tests/readings-trends-comprehensive.spec.ts
Due: lint-ts, no-secrets, no-console-logs

chore: comprehensive testing audit and repository cleanup
  CORRECTED_TEST_SUMMARY.md
  TESTING_AUDIT_REPORT.md
  VISUAL_REVIEW_RESULTS.md
  visual-review-report.md
  visual-review.md
Due: lint-json

docs: add executive summary of testing audit
  TESTING_AUDIT_SUMMARY.md
Due: lint-json

test: add comprehensive unit tests for profile and edit-reading pages
  src/app/edit-reading/edit-reading.page.spec.ts
  src/app/profile/profile.page.spec.ts
Due: lint-ts, no-secrets, no-console-logs

test: add comprehensive unit tests for tabs.page.ts (33 tests)
  src/app/tabs/tabs.page.spec.ts
Due: lint-ts, no-secrets, no-console-logs

test: add comprehensive unit tests for add-reading and dashboard pages (121 tests)
  src/app/add-reading/add-reading.page.spec.ts
  src/app/dashboard/dashboard.page.spec.ts
Due: lint-ts, no-secrets, no-console-logs

test: enhance unit tests for trends.page.ts with comprehensive coverage
  src/app/trends/trends.page.spec.ts
Due: lint-ts, no-secrets, no-console-logs

refactor(e2e): reorganize tests into smoke/functional/visual structure
  AGENTS.md
  docker/seed-test-data.sh
  playwright.config.ts
  playwright/config/test-config.ts
  playwright/fixtures/auth.setup.ts
  playwright/fixtures/docker.fixture.ts
  playwright/fixtures/index.ts
  playwright/helpers/api/admin-client.ts
  playwright/helpers/api/client.ts
  playwright/helpers/api/index.ts
  playwright/helpers/config.ts
  playwright/helpers/index.ts
  playwright/pages/login.page.ts
  playwright/tests/docker-backend-e2e.spec.ts
  playwright/tests/docker-dark-mode.spec.ts
  playwright/tests/functional/appointments.functional.spec.ts
  playwright/tests/functional/dashboard.functional.spec.ts
  playwright/tests/functional/profile.functional.spec.ts
  playwright/tests/functional/readings.functional.spec.ts
  playwright/tests/legacy/docker-e2e-flows.spec.ts
  playwright/tests/legacy/docker-trends-settings.spec.ts
  playwright/tests/legacy/logout.spec.ts
  playwright/tests/smoke/api.smoke.spec.ts
  playwright/tests/smoke/auth.smoke.spec.ts
  playwright/tests/smoke/navigation.smoke.spec.ts
  playwright/tests/visual/pages.visual.spec.ts
  playwright/tests/visual/pages.visual.spec.ts-snapshots/add-reading-form-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/appointments-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/login-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/profile-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/settings-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/welcome-page-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/login-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/profile-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-mobile-chromium.png
Due: lint-ts, lint-json, no-secrets, no-console-logs

test(visual): update baselines for mobile and desktop
  playwright/tests/visual/pages.visual.spec.ts-snapshots/add-reading-form-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/appointments-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/appointments-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/login-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/profile-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/settings-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/settings-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/welcome-page-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/login-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/login-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/profile-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/profile-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-mobile-chromium.png
Due: none

fix(e2e): fix appointments and settings visual tests
  playwright/tests/visual/pages.visual.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(e2e): fix visual tests for appointments and replace settings with profile-preferences
  playwright/tests/visual/pages.visual.spec.ts
  playwright/tests/visual/pages.visual.spec.ts-snapshots/appointments-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/appointments-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/profile-preferences-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/profile-preferences-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/settings-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/settings-page-mobile-chromium.png
Due: lint-ts, no-secrets, no-console-logs

fix: package.json to reduce vulnerabilities
  package.json
Due: lint-json, no-secrets, lockfile-check

docs: update and clean documentation
  docs/AGENT_HANDBOOK.md
  docs/ARCHITECTURE.md
  docs/Analyzing Diabetactic Repo Migration.pdf
  docs/MEDICAL_ALGORITHMS.md
  docs/PROYECTO.md
  docs/README.md
  docs/TESTING_GUIDE.md
  docs/USER_GUIDE.md
  docs/images/codex-cloud/.gitkeep
Due: lint-json

fix(docs): correct app name Diabetify → Diabetactic
  docs/PROYECTO.md
  docs/README.md
  docs/USER_GUIDE.md
Due: lint-json

fix(auth): restore refresh token and fix notification settings (#212)
  playwright/tests/visual/pages.visual.spec.ts-snapshots/add-reading-form-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/add-reading-form-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/login-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/login-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/profile-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/settings-page-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/profile-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-mobile-chromium.png
  src/app/core/services/token.service.ts
  src/app/settings/settings.page.spec.ts
  src/app/settings/settings.page.ts
Due: lint-ts, no-secrets, no-console-logs

feat(playwright): add Midscene AI debugging helper (dev-only)
  package.json
  playwright/.env.example
  playwright/helpers/ai-debug.ts
  playwright/helpers/index.ts
  playwright/tsconfig.json
  pnpm-lock.yaml
Due: lint-ts, lint-json, no-secrets, lockfile-check, no-console-logs

docs(playwright): add CLIProxyAPI as recommended Midscene provider
  playwright/.env.example
Due: none

chore: ignore Midscene output directories
  .gitignore
Due: none

conductor(setup): Add conductor setup files and initial verification track
  conductor/code_styleguides/general.md
  conductor/code_styleguides/html-css.md
  conductor/code_styleguides/javascript.md
  conductor/code_styleguides/typescript.md
  conductor/index.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup_state.json
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/verification_20260116/index.md
  conductor/tracks/verification_20260116/metadata.json
  conductor/tracks/verification_20260116/plan.md
  conductor/tracks/verification_20260116/spec.md
  conductor/workflow.md
Due: lint-json, no-secrets

conductor(plan): Mark task 'Execute static quality suite' as complete
  conductor/tracks/verification_20260116/plan.md
Due: lint-json

conductor(plan): Mark task 'Run all unit tests with Vitest' as complete
  conductor/tracks/verification_20260116/plan.md
Due: lint-json

conductor(plan): Mark task 'Run integration tests (MSW and Backend)' as complete
  conductor/tracks/verification_20260116/plan.md
Due: lint-json

test(e2e): fix flaky dashboard and appointments tests
  conductor/tracks/verification_20260116/plan.md
  playwright/tests/functional/dashboard.functional.spec.ts
  playwright/tests/visual/pages.visual.spec.ts
  playwright/tests/visual/theme.visual.spec.ts
  src/app/appointments/appointments.page.html
Due: lint-ts, lint-html, lint-json, no-secrets, no-console-logs

test(auth): Verify offline optimistic authentication
  src/app/core/services/local-auth.service.offline.spec.ts
Due: lint-ts, no-secrets, no-console-logs

Path conditions:
  lint-ts: any of: *.{ts,js}
  lint-html: any of: *.html
  lint-scss: any of: *.scss
  lint-json: any of: *.{json,md}
  no-secrets: any of: *.{ts,js,json,env}
  lockfile-check: any of: package.json
  no-console-logs: any of: *.ts
  no-hardcoded-text: any of: *.scss
