Repository diabetactic/diabetify: changes, and which lefthook commands are due for each by the changed paths.
All: lint-ts, lint-html, lint-scss, lint-json

lint-ts:
  run: npx prettier --write {staged_files} && npx eslint --fix {staged_files}
  stage_fixed: true

lint-html:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lint-scss:
  run: npx prettier --write {staged_files} && npx stylelint --fix {staged_files}
  stage_fixed: true

lint-json:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ci: add free CI/CD alternatives (GitLab CI, Azure DevOps, Render)
  .circleci/config.yml
  .circleci/config.yml.disabled
  .gitlab-ci.yml
  azure-pipelines.yml
  render.yaml
Due: none

chore: code quality improvements
  docs/index.html
  src/app/achievements/achievements.page.ts
  src/app/core/services/achievements.service.spec.ts
  src/app/core/services/biometric-auth.service.ts
  src/app/dashboard/dashboard-detail/dashboard-detail.page.spec.ts
  src/app/tests/helpers/test-isolation.helper.ts
  src/setup-vitest.ts
Due: lint-ts, lint-html

fix: address lint errors (temp hook skip while iterating)
  src/app/core/services/local-auth.service.spec.ts
  src/setup-vitest.ts
Due: lint-ts

fix: stabilize lint/quality outputs; functionality re-verified
  .gitignore
  .stylelintrc.json
  capacitor.config.ts
  lefthook.yml
  playwright/tests/comprehensive-screenshots.spec.ts
  playwright/tests/sync-proof-comprehensive.spec.ts
  scripts/diabetify-api.js
  scripts/populate-docker-data.js
  src/app/app.component.ts
  src/app/appointments/appointments.page.scss
  src/app/core/guards/auth.guard.spec.ts
  src/app/core/services/api-gateway.service.spec.ts
  src/app/core/services/appointment.service.spec.ts
  src/app/core/services/biometric-auth.service.spec.ts
  src/app/core/services/external-services-manager.service.spec.ts
  src/app/core/services/external-services-manager.service.ts
  src/app/core/services/glucoserver.service.spec.ts
  src/app/core/services/platform-detector.service.ts
  src/app/core/services/profile.service.spec.ts
  src/app/core/services/readings.service.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/tidepool-auth.service.spec.ts
  src/app/core/services/translation.service.spec.ts
  src/app/core/services/unified-auth.service.spec.ts
  src/app/shared/components/debug-panel/debug-panel.component.ts
  src/app/test-minimal.spec.ts
  src/app/trends/trends.page.ts
  src/mocks/ionic-core.mock.ts
  src/setup-polyfills.ts
  src/setup-vitest.ts
  src/test-setup.ts
  vitest.config.ts
Due: lint-ts, lint-scss, lint-json

feat: add code-quality tooling stack (analysis + hooks)
  .jscpd.json
  CLAUDE.md
  knip.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/test-setup.ts
  turbo.json
Due: lint-ts, lint-json

perf: trim pre-push hook runtime
  lefthook.yml
  src/test-setup.ts
Due: lint-ts

fix: spent too long untangling lint regressions blocking feature checks
  .prettierignore
  eslint.config.js
  src/app/core/services/local-auth.service.spec.ts
  src/setup-vitest.ts
Due: lint-ts

chore: remove placeholder ignore entry
  .cursorignore
Due: none

fix: clean up lint fallout from broken imports
  .cursorignore
  .vscode/settings.json
Due: lint-json

chore: correct .gitignore patterns and purge stray tracked junk
  .cursorignore
Due: none

docs: rebuild docs index after recent fixes (pending final feature check)
  docs/index.html
  pnpm-lock.yaml
  scripts/add-test-setup-import.mjs
Due: lint-html

chore(ci): remove redundant CI/CD pipelines and duplicate workflows
  .circleci/config-pnpm.yml
  .circleci/config.yml
  .circleci/config.yml.disabled
  .github/workflows/android-pnpm.yml
  .github/workflows/ci-pnpm.yml
  .github/workflows/pr-checks-pnpm.yml
  .gitlab-ci.yml
  azure-pipelines.yml
Due: none

fix
  src/app/bolus-calculator/bolus-calculator.page.spec.ts
  src/app/core/services/database.service.spec.ts
  src/app/core/services/platform-detector.service.spec.ts
  src/app/core/services/profile.service.spec.ts
  src/app/core/services/tidepool-auth.service.spec.ts
  src/app/tests/integration/auth-flow.integration.spec.ts
  src/app/tests/integration/readings-sync.integration.spec.ts
  src/test-setup.ts
Due: lint-ts

fix
  src/app/core/services/database.service.spec.ts
  src/app/core/services/platform-detector.service.ts
Due: lint-ts

style: apply formatting from pre-commit hooks
  src/app/bolus-calculator/bolus-calculator.page.spec.ts
  src/app/core/services/service-orchestrator.service.spec.ts
  src/app/tests/integration/achievements-sync.integration.spec.ts
  src/app/tests/integration/appointments-flow.integration.spec.ts
  src/app/tests/integration/auth-flow.integration.spec.ts
  src/app/tests/integration/bolus-calculator-flow.integration.spec.ts
  src/app/tests/integration/components/bottom-sheet.integration.spec.ts
  src/app/tests/integration/components/language-switcher.integration.spec.ts
  src/app/tests/integration/components/service-monitor.integration.spec.ts
  src/app/tests/integration/guards/auth-guard.integration.spec.ts
  src/app/tests/integration/guards/onboarding-guard.integration.spec.ts
  src/app/tests/integration/interceptors/auth-interceptor.integration.spec.ts
  src/app/tests/integration/offline-online.integration.spec.ts
  src/app/tests/integration/pages/achievements-page.integration.spec.ts
  src/app/tests/integration/pages/add-reading-page.integration.spec.ts
  src/app/tests/integration/pages/appointments-page.integration.spec.ts
  src/app/tests/integration/pages/dashboard-page.integration.spec.ts
  src/app/tests/integration/pages/login-page.integration.spec.ts
  src/app/tests/integration/pages/profile-page.integration.spec.ts
  src/app/tests/integration/pages/readings-page.integration.spec.ts
  src/app/tests/integration/pages/settings-page.integration.spec.ts
  src/app/tests/integration/pages/trends-page.integration.spec.ts
  src/app/tests/integration/profile-preferences.integration.spec.ts
  src/app/tests/integration/readings-sync.integration.spec.ts
  src/app/tests/integration/services/api-gateway-service.integration.spec.ts
  src/app/tests/integration/services/database-service.integration.spec.ts
  src/app/tests/integration/services/error-handler-service.integration.spec.ts
  src/app/tests/integration/services/external-services-manager.integration.spec.ts
  src/app/tests/integration/services/glucoserver-service.integration.spec.ts
  src/app/tests/integration/services/local-auth-service.integration.spec.ts
  src/app/tests/integration/services/notification-service.integration.spec.ts
  src/app/tests/integration/services/tidepool-auth-service.integration.spec.ts
  src/app/tests/integration/settings-page-flows.integration.spec.ts
  src/app/tests/integration/theme-persistence.integration.spec.ts
  src/app/tests/integration/token-storage-lifecycle.integration.spec.ts
  src/mocks/ionic-angular.mock.ts
  src/test-setup/factories/appointments.factory.ts
  src/test-setup/factories/profile.factory.ts
  src/test-setup/factories/readings.factory.ts
Due: lint-ts

fix(testing): resolve Vitest integration test issues
  src/app/shared/components/service-monitor/service-monitor.component.ts
  src/app/tests/integration/components/service-monitor.integration.spec.ts
  src/app/tests/integration/pages/achievements-page.integration.spec.ts
  src/app/tests/integration/pages/add-reading-page.integration.spec.ts
  src/app/tests/integration/pages/appointments-page.integration.spec.ts
  src/app/tests/integration/pages/login-page.integration.spec.ts
  src/app/tests/integration/pages/profile-page.integration.spec.ts
  src/app/tests/integration/pages/settings-page.integration.spec.ts
  src/app/tests/integration/services/api-gateway-service.integration.spec.ts
  src/app/tests/integration/services/tidepool-auth-service.integration.spec.ts
  src/app/tests/integration/services/unified-auth-service.integration.spec.ts
  src/test-setup/index.ts
  src/test-setup/mocks/angular.mock.ts
Due: lint-ts

fix(tests): address CodeRabbit review comments on PR #99
  docker-compose.yml
  docs/LOGIN_PAGE_INTEGRATION_TESTS.md
  docs/TESTING_GUIDE.md
  src/app/account-pending/account-pending.page.spec.ts
  src/app/bolus-calculator/bolus-calculator.page.spec.ts
  src/app/core/interceptors/auth.interceptor.spec.ts
  src/app/core/services/appointment.service.spec.ts
  src/app/core/services/environment-detector.service.spec.ts
  src/app/core/services/error-handler.service.spec.ts
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/notification.service.spec.ts
  src/app/core/services/profile.service.spec.ts
  src/app/core/services/readings.service.sync.spec.ts
  src/app/core/services/session-timeout.service.spec.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/token-storage.service.spec.ts
  src/app/readings/readings.page.spec.ts
Due: lint-ts, lint-json

fix: replace console calls with LoggerService, standardize Mock<T> types
  src/app/core/services/mock-adapter.service.ts
  src/app/core/services/platform-detector.service.ts
  src/app/settings/settings.page.spec.ts
Due: lint-ts

refactor(ci): consolidate and optimize GitHub Actions workflows
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix(ci): add tsconfig.build.json for CI type checking
  .github/workflows/ci.yml
  tsconfig.build.json
Due: lint-json

fix(test): use UTC assertions in timezone-sensitive date test
  src/app/core/services/readings.service.sync.spec.ts
Due: lint-ts

fix(i18n): whitelist Material Icons and medical units in i18n check
  scripts/check-i18n-missing.js
Due: lint-ts

fix(i18n): use concrete Material Icons allowlist, remove redundant patterns
  scripts/check-i18n-missing.js
Due: lint-ts

perf(ci): optimize workflows - reduce ~40 min/push to ~8 min
  .github/actions/setup-pnpm/action.yml
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
Due: none

Path conditions:
  lint-ts: any of: *.{ts,js}
  lint-html: any of: *.html
  lint-scss: any of: *.scss
  lint-json: any of: *.{json,md}
