Repository diabetactic/diabetify: changes, and which lefthook commands are due for each by the changed paths.
All: lint-ts, lint-html, lint-scss, lint-json, no-secrets, lockfile-check, no-console-logs, no-hardcoded-text

lint-ts:
  run: npx prettier --write {staged_files} && npx eslint --fix {staged_files}
  stage_fixed: true

lint-html:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lint-scss:
  run: npx prettier --write {staged_files} && npx stylelint --fix {staged_files}
  stage_fixed: true

lint-json:
  run: npx prettier --write {staged_files}
  stage_fixed: true

no-secrets:
  run: "if grep -rE \"(password|secret|api_key|private_key)\\s*[:=]\\s*['\\\"][^'\\\"]+['\\\"]\" {staged_files} 2>/dev/null | grep -v \"\\.spec\\.\" | grep -v \"mock\" | grep -v \"\\.helper\\.\" | grep -v \"// Public test credentials\" | grep -v \"debug-panel\"; then\n  echo \"❌ Potential secrets dete
  ...

lockfile-check:
  run: "if [ -f pnpm-lock.yaml ]; then\n  if ! pnpm install --frozen-lockfile --ignore-scripts 2>/dev/null; then\n    echo \"⚠️  pnpm-lock.yaml may be out of sync. Run 'pnpm install' to update.\"\n  fi\nfi\n"

no-console-logs:
  run: "if grep -n \"console\\\\.log\\\\|console\\\\.debug\" {staged_files} 2>/dev/null | grep -v \"\\.spec\\.ts\" | grep -v \"logger\\.service\\.ts\" | grep -v \"environment\" | grep -v \"logPlatformInfo\"; then\n  echo \"⚠️  console.log statements found. Consider using LoggerService instead.\"\nfi\n
  ...

no-hardcoded-text:
  run: "# Flag content: \"text\" but allow symbols/icons (single char or common symbols)\nif grep -n \"content:\\s*['\\\"][a-zA-Z][a-zA-Z]\" {staged_files} 2>/dev/null; then\n  echo \"⚠️  Hardcoded text in CSS detected. Use HTML data-* attributes or i18n in templates instead.\"\n  echo \"   Allowed: s
  ...

fix(web): prevent login loading hang
  .github/actions/setup-pnpm/action.yml
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/visual-update.yml
  .tool-versions
  package.json
  src/app/login/login.page.ts
Due: lint-ts, lint-json, no-secrets, lockfile-check, no-console-logs

fix(login): avoid web loading hang
  server/heroku-web-server.js
  src/app/login/login.page.ts
Due: lint-ts, no-secrets, no-console-logs

fix(web): register Ionic overlay components
  src/main.ts
Due: lint-ts, no-secrets, no-console-logs

test(ci): prod smoke for Ionic overlays
  .github/workflows/ci.yml
  .gitignore
  knip.json
  package.json
  playwright.prod-smoke.config.ts
  playwright/prod-smoke/ionic-overlays.spec.ts
  src/main.ts
Due: lint-ts, lint-json, no-secrets, lockfile-check, no-console-logs

refactor(ui): safe Ionic overlay creation
  src/app/add-reading/add-reading.page.ts
  src/app/appointments/appointment-create/appointment-create.page.ts
  src/app/appointments/appointment-detail/appointment-detail.page.ts
  src/app/appointments/appointments.page.ts
  src/app/bolus-calculator/bolus-calculator.page.ts
  src/app/core/services/barcode-scanner.service.ts
  src/app/core/services/error-recovery.service.ts
  src/app/core/utils/ionic-overlays.ts
  src/app/dashboard/dashboard.page.ts
  src/app/edit-reading/edit-reading.page.ts
  src/app/login/login.page.ts
  src/app/profile/profile-edit/profile-edit.component.ts
  src/app/profile/profile.page.ts
  src/app/readings/readings.page.ts
  src/app/settings/advanced/advanced.page.ts
  src/app/settings/settings.page.ts
  src/app/shared/components/food-picker/food-picker.component.ts
  src/app/shared/components/info-button/info-button.component.ts
  src/app/shared/components/language-switcher/language-switcher.component.ts
  src/app/tabs/tabs.page.ts
  src/app/testing/integration-test.page.ts
Due: lint-ts, no-secrets, no-console-logs

chore(eslint): forbid await overlay create
  eslint-rules/no-await-ionic-overlay-create.js
  eslint.config.js
Due: lint-ts, no-secrets

fix(dashboard,appointments): handle empty stats + queue-state 404
  src/app/core/services/api-gateway.service.spec.ts
  src/app/core/services/api-gateway.service.ts
  src/app/dashboard/dashboard.html
  src/app/dashboard/dashboard.page.spec.ts
  src/app/dashboard/dashboard.page.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-ts, lint-html, lint-json, no-secrets, no-console-logs

feat(dashboard): fallback stats to latest readings
  src/app/core/services/readings.service.ts
  src/app/dashboard/dashboard.page.spec.ts
  src/app/dashboard/dashboard.page.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-ts, lint-json, no-secrets, no-console-logs

fix(frontend): remove 404 workarounds for appointment state - backend now returns NONE
  src/app/core/contracts/backend-enums.contract.spec.ts
  src/app/core/contracts/backend-enums.contract.ts
  src/app/core/services/api-gateway.service.spec.ts
  src/app/core/services/api-gateway.service.ts
  src/app/core/services/appointment.service.spec.ts
  src/app/core/services/appointment.service.ts
Due: lint-ts, no-secrets, no-console-logs

feat: high contrast accessibility mode + multi-user fix + docs gotchas
  angular.json
  docs/ARCHITECTURE.md
  docs/MEDICAL_ALGORITHMS.md
  docs/PROYECTO.md
  docs/TESTING_GUIDE.md
  docs/USER_GUIDE.md
  docs/index.html
  package.json
  pnpm-lock.yaml
  src/app/core/services/readings.service.calculations.spec.ts
  src/app/core/services/readings.service.integration.spec.ts
  src/app/core/services/readings.service.offline.spec.ts
  src/app/core/services/readings.service.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/theme.service.ts
  src/app/settings/settings.page.html
  src/app/settings/settings.page.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/theme/high-contrast.scss
  src/theme/variables.scss
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, lockfile-check, no-console-logs, no-hardcoded-text

fix(storage): filter IndexedDB queries by userId for multi-user isolation
  src/app/core/services/readings.service.spec.ts
  src/app/core/services/readings.service.ts
Due: lint-ts, no-secrets, no-console-logs

chore(styles): create SCSS partials directory structure
  angular.json
  src/styles/_index.scss
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_forms.scss
  src/styles/components/_typography.scss
  src/styles/ionic/_bridges.scss
  src/styles/ionic/_overrides.scss
  src/styles/tokens/_animations.scss
  src/styles/tokens/_colors.scss
  src/styles/tokens/_radius.scss
  src/styles/tokens/_shadows.scss
  src/styles/utilities/_icons.scss
  src/styles/utilities/_layout.scss
Due: lint-scss, lint-json, no-secrets, no-hardcoded-text

refactor(auth): create shared auth page mixins
  src/app/login/_auth-mixins.scss
Due: lint-scss, no-hardcoded-text

docs: create visual regression baseline for CSS refactor
  docs/visual-baseline/CHECKLIST.md
  docs/visual-baseline/achievements-dark-baseline.png
  docs/visual-baseline/achievements-high-contrast-baseline.png
  docs/visual-baseline/achievements-light-baseline.png
  docs/visual-baseline/add-reading-dark-baseline.png
  docs/visual-baseline/add-reading-high-contrast-baseline.png
  docs/visual-baseline/add-reading-light-baseline.png
  docs/visual-baseline/appointments-dark-baseline.png
  docs/visual-baseline/appointments-high-contrast-baseline.png
  docs/visual-baseline/appointments-light-baseline.png
  docs/visual-baseline/bolus-calculator-dark-baseline.png
  docs/visual-baseline/bolus-calculator-high-contrast-baseline.png
  docs/visual-baseline/bolus-calculator-light-baseline.png
  docs/visual-baseline/dashboard-dark-baseline.png
  docs/visual-baseline/dashboard-high-contrast-baseline.png
  docs/visual-baseline/dashboard-light-baseline.png
  docs/visual-baseline/forgot-password-dark-baseline.png
  docs/visual-baseline/forgot-password-high-contrast-baseline.png
  docs/visual-baseline/forgot-password-light-baseline.png
  docs/visual-baseline/login-dark-baseline.png
  docs/visual-baseline/login-high-contrast-baseline.png
  docs/visual-baseline/login-light-baseline.png
  docs/visual-baseline/profile-dark-baseline.png
  docs/visual-baseline/profile-high-contrast-baseline.png
  docs/visual-baseline/profile-light-baseline.png
  docs/visual-baseline/readings-dark-baseline.png
  docs/visual-baseline/readings-high-contrast-baseline.png
  docs/visual-baseline/readings-light-baseline.png
  docs/visual-baseline/settings-dark-baseline.png
  docs/visual-baseline/tips-dark-baseline.png
  docs/visual-baseline/tips-high-contrast-baseline.png
  docs/visual-baseline/tips-light-baseline.png
  docs/visual-baseline/trends-dark-baseline.png
  docs/visual-baseline/trends-high-contrast-baseline.png
  docs/visual-baseline/trends-light-baseline.png
  docs/visual-baseline/welcome-dark-baseline.png
  docs/visual-baseline/welcome-high-contrast-baseline.png
  docs/visual-baseline/welcome-light-baseline.png
Due: lint-json

refactor(auth): use shared mixins in all auth pages
  src/app/login/forgot-password/forgot-password.page.scss
  src/app/login/login.page.scss
  src/app/login/reset-password/reset-password.page.scss
Due: lint-scss, no-hardcoded-text

refactor(styles): populate SCSS token partials with helpers and mixins
  .stylelintrc.json
  src/styles/components/_buttons.scss
  src/styles/components/_cards.scss
  src/styles/components/_forms.scss
  src/styles/components/_typography.scss
  src/styles/ionic/_bridges.scss
  src/styles/ionic/_overrides.scss
  src/styles/tokens/_animations.scss
  src/styles/tokens/_colors.scss
  src/styles/tokens/_radius.scss
  src/styles/tokens/_shadows.scss
  src/styles/utilities/_icons.scss
  src/styles/utilities/_layout.scss
Due: lint-scss, lint-json, no-secrets, no-hardcoded-text

feat(auth): add password recovery flow + Play Store prep
  .github/workflows/android.yml
  .github/workflows/pages.yml
  .gitignore
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  docker/docker-compose.local.yml
  docs/PLAY_STORE_CHECKLIST.md
  docs/PRIVACY_POLICY.md
  docs/privacy-policy.html
  e2e-evidence/db-evidence.md
  fastlane/metadata/android/en-US/changelogs/1.txt
  fastlane/metadata/android/en-US/full_description.txt
  fastlane/metadata/android/en-US/short_description.txt
  fastlane/metadata/android/en-US/title.txt
  package.json
  playwright/tests/functional/password-recovery.functional.spec.ts
  playwright/tests/visual/pages.visual.spec.ts-snapshots/login-page-mobile-chromium.png
  scripts/build-release.sh
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/core/services/local-auth.service.spec.ts
  src/app/core/services/local-auth.service.ts
  src/app/login/forgot-password/forgot-password.page.html
  src/app/login/forgot-password/forgot-password.page.scss
  src/app/login/forgot-password/forgot-password.page.spec.ts
  src/app/login/forgot-password/forgot-password.page.ts
  src/app/login/login.page.html
  src/app/login/login.page.spec.ts
  src/app/login/reset-password/reset-password.page.html
  src/app/login/reset-password/reset-password.page.scss
  src/app/login/reset-password/reset-password.page.spec.ts
  src/app/login/reset-password/reset-password.page.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, lockfile-check, no-console-logs, no-hardcoded-text

fix(auth): validate data ownership on session restoration
  src/app/core/services/local-auth.service.ts
Due: lint-ts, no-secrets, no-console-logs

test(storage): add multi-user data isolation tests
  src/app/core/services/readings.service.multiuser.spec.ts
Due: lint-ts, no-secrets, no-console-logs

refactor(styles): convert hardcoded colors to CSS variables
  src/app/tabs/tabs.page.scss
  src/app/welcome/welcome.page.scss
Due: lint-scss, no-hardcoded-text

docs: add high contrast mode feature to documentation
  README.md
  docs/index.html
Due: lint-html, lint-json

feat(a11y): make chart colors respond to high contrast mode
  src/app/trends/trends.page.ts
Due: lint-ts, no-secrets, no-console-logs

feat(a11y): complete high contrast mode support
  src/app/shared/components/streak-card/streak-card.component.scss
  src/theme/high-contrast.scss
Due: lint-scss, no-hardcoded-text

feat(a11y): enhance high contrast mode with comprehensive app component overrides
  eslint.config.js
  reports/css-analysis.json
  reports/css-overhaul-evidence/01-welcome-light.png
  reports/css-overhaul-evidence/02-login-light.png
  reports/css-overhaul-evidence/03-dashboard-light.png
  reports/css-overhaul-evidence/04-settings-light.png
  reports/css-overhaul-evidence/05-settings-dark.png
  reports/css-overhaul-evidence/06-profile-dark.png
  reports/css-overhaul-evidence/07-dashboard-dark.png
  reports/css-overhaul-evidence/08-readings-dark.png
  reports/css-overhaul-evidence/09-appointments-dark.png
  reports/css-overhaul-evidence/10-settings-highcontrast.png
  reports/css-overhaul-evidence/11-dashboard-highcontrast.png
  reports/css-overhaul-evidence/12-add-reading-empty.png
  reports/css-overhaul-evidence/13-add-reading-filled.png
  reports/css-overhaul-evidence/14-settings-highcontrast-v2.png
  reports/css-overhaul-evidence/15-dashboard-highcontrast-v2.png
  reports/css-overhaul-evidence/16-readings-highcontrast-v2.png
  reports/css-overhaul-evidence/17-appointments-highcontrast-v2.png
  reports/css-overhaul-evidence/index.html
  src/app/trends/trends.page.spec.ts
  src/theme/high-contrast.scss
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, no-console-logs, no-hardcoded-text

fix: resolve readings display, userId sync, and icon mapping issues
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-desktop-chromium.png
  src/app/core/services/readings-sync.service.ts
  src/app/core/services/readings.service.ts
  src/app/shared/components/app-icon/app-icon.component.ts
Due: lint-ts, no-secrets, no-console-logs

fix(e2e): visual test readings page now shows actual data
  playwright/tests/visual/pages.visual.spec.ts
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-mobile-chromium.png
  playwright/tests/visual/snapshots-gallery.html
  playwright/tests/visual/theme.visual.spec.ts
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-mobile-chromium.png
Due: lint-ts, lint-html, no-secrets, no-console-logs

fix(e2e): test isolation for visual tests with deterministic data
  docker/seed-test-data.sh
  playwright.config.ts
  playwright/fixtures/visual.setup.ts
  playwright/tests/functional/appointments.functional.spec.ts
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-mobile-chromium.png
  playwright/tests/visual/snapshots-gallery.html
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-mobile-chromium.png
  playwright/visual-report.html
Due: lint-ts, lint-html, no-secrets, no-console-logs

chore: sync lockfile after removing @capacitor/browser
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  pnpm-lock.yaml
Due: none

feat(i18n): add translations for achievement names
  src/app/achievements/achievements.page.html
  src/app/achievements/achievements.page.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-ts, lint-html, lint-json, no-secrets, no-console-logs

fix(e2e): wait for API response before checking appointment button
  playwright/tests/functional/appointments.functional.spec.ts
Due: lint-ts, no-secrets, no-console-logs

feat(perf): add virtual scrolling to readings list
  src/app/readings/components/readings-list/readings-list.component.html
  src/app/readings/components/readings-list/readings-list.component.scss
  src/app/readings/components/readings-list/readings-list.component.ts
Due: lint-ts, lint-html, lint-scss, no-secrets, no-console-logs, no-hardcoded-text

feat(perf): add virtual scrolling to past appointments list
  src/app/appointments/appointments.page.html
  src/app/appointments/appointments.page.scss
  src/app/appointments/appointments.page.ts
Due: lint-ts, lint-html, lint-scss, no-secrets, no-console-logs, no-hardcoded-text

fix(security): clear API cache on logout
  src/app/core/services/local-auth.service.spec.ts
  src/app/core/services/local-auth.service.ts
Due: lint-ts, no-secrets, no-console-logs

refactor(angular): switch to zoneless change detection
  src/main.ts
Due: lint-ts, no-secrets, no-console-logs

feat(e2e): add evidence collection tests with appointment resolution
  playwright/helpers/api/admin-client.ts
  playwright/helpers/api/index.ts
  playwright/tests/evidence/flow-evidence.spec.ts
Due: lint-ts, no-secrets, no-console-logs

chore(deps): add @angular/cdk for virtual scrolling
  package.json
  pnpm-lock.yaml
Due: lint-json, no-secrets, lockfile-check

chore: add evidence output dirs to gitignore
  .gitignore
Due: none

Path conditions:
  lint-ts: any of: *.{ts,js}
  lint-html: any of: *.html
  lint-scss: any of: *.scss
  lint-json: any of: *.{json,md}
  no-secrets: any of: *.{ts,js,json,env}
  lockfile-check: any of: package.json
  no-console-logs: any of: *.ts
  no-hardcoded-text: any of: *.scss
