Repository diabetactic/diabetify: changes, and which lefthook commands are due for each by the changed paths.
All: lint-ts, lint-html, lint-scss, lint-json, no-secrets, lockfile-check, no-console-logs, no-hardcoded-text

lint-ts:
  run: npx prettier --write {staged_files} && npx eslint --fix {staged_files}
  stage_fixed: true

lint-html:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lint-scss:
  run: npx prettier --write {staged_files} && npx stylelint --fix {staged_files}
  stage_fixed: true

lint-json:
  run: npx prettier --write {staged_files}
  stage_fixed: true

no-secrets:
  run: "if grep -rE \"(password|secret|api_key|private_key)\\s*[:=]\\s*['\\\"][^'\\\"]+['\\\"]\" {staged_files} 2>/dev/null | grep -v \"\\.spec\\.\" | grep -v \"mock\" | grep -v \"\\.helper\\.\" | grep -v \"// Public test credentials\" | grep -v \"debug-panel\"; then\n  echo \"❌ Potential secrets dete
  ...

lockfile-check:
  run: "if [ -f pnpm-lock.yaml ]; then\n  if ! pnpm install --frozen-lockfile --ignore-scripts 2>/dev/null; then\n    echo \"⚠️  pnpm-lock.yaml may be out of sync. Run 'pnpm install' to update.\"\n  fi\nfi\n"

no-console-logs:
  run: "if grep -n \"console\\\\.log\\\\|console\\\\.debug\" {staged_files} 2>/dev/null | grep -v \"\\.spec\\.ts\" | grep -v \"logger\\.service\\.ts\" | grep -v \"environment\" | grep -v \"logPlatformInfo\"; then\n  echo \"⚠️  console.log statements found. Consider using LoggerService instead.\"\nfi\n
  ...

no-hardcoded-text:
  run: "# Flag content: \"text\" but allow symbols/icons (single char or common symbols)\nif grep -n \"content:\\s*['\\\"][a-zA-Z][a-zA-Z]\" {staged_files} 2>/dev/null; then\n  echo \"⚠️  Hardcoded text in CSS detected. Use HTML data-* attributes or i18n in templates instead.\"\n  echo \"   Allowed: s
  ...

docs: add evidence collection HTML report template
  evidence/index.html
Due: lint-html

docs: add Heroku production evidence screenshots
  .gitignore
  evidence/index.html
  evidence/screenshots/heroku/heroku-01-dashboard.png
  evidence/screenshots/heroku/heroku-02-appointments-none.png
  evidence/screenshots/heroku/heroku-03-appointments-pending.png
  evidence/screenshots/heroku/heroku-04-appointments-accepted.png
  evidence/screenshots/heroku/heroku-05-appointment-form-empty.png
  evidence/screenshots/heroku/heroku-06-appointment-form-filled.png
  evidence/screenshots/heroku/heroku-07-appointment-created.png
  evidence/screenshots/heroku/heroku-08-appointment-with-resolution.png
  evidence/screenshots/heroku/heroku-09-readings-empty.png
  evidence/screenshots/heroku/heroku-10-readings-synced-empty.png
  evidence/screenshots/heroku/heroku-11-dashboard-with-readings.png
Due: lint-html

chore(e2e): configurable docker ports + stabilize Playwright
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tailwind.json
  docker/cleanup-test-data.sh
  docker/docker-compose.local.yml
  docker/reset-db.sh
  docker/run-e2e-docker.sh
  docker/seed-test-data.sh
  docker/start.sh
  docker/test-appointment-flow.sh
  eslint.config.js
  mise.local.toml
  playwright.config.ts
  playwright/pages/login.page.ts
  playwright/pages/tabs.page.ts
  playwright/tests/evidence/flow-evidence.spec.ts
  playwright/tests/functional/appointments.functional.spec.ts
  playwright/tests/visual/pages.visual.spec.ts
  playwright/tests/visual/theme.visual.spec.ts
  proxy.conf.local.cjs
  scripts/start-with-env.mjs
  src/app/readings/components/readings-list/readings-list.component.html
Due: lint-ts, lint-html, lint-json, no-secrets, no-console-logs

test(visual): update Playwright snapshots
  playwright/tests/visual/pages.visual.spec.ts-snapshots/add-reading-form-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/add-reading-form-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/appointments-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/appointments-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/profile-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/profile-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/readings-page-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/profile-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/profile-dark-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/readings-dark-mobile-chromium.png
Due: none

fix: resolve data loading, sync display, and UX issues
  .gitignore
  docs/assets/screenshots/dashboard-high-contrast.png
  docs/plans/2026-01-25-repo-health-check.md
  playwright/config/test-config.ts
  playwright/pages/appointments.page.ts
  playwright/tests/functional/appointments.functional.spec.ts
  playwright/tests/functional/password-recovery.functional.spec.ts
  playwright/tests/visual/pages.visual.spec.ts-snapshots/add-reading-form-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/add-reading-form-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/appointments-page-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/appointments-page-mobile-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-desktop-chromium.png
  playwright/tests/visual/pages.visual.spec.ts-snapshots/dashboard-mobile-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-desktop-chromium.png
  playwright/tests/visual/theme.visual.spec.ts-snapshots/dashboard-dark-mobile-chromium.png
  src/app/add-reading/add-reading.page.html
  src/app/app.component.ts
  src/app/appointments/appointment-detail/appointment-detail.page.html
  src/app/appointments/appointments.offline.spec.ts
  src/app/appointments/appointments.page.ts
  src/app/core/interceptors/auth.interceptor.spec.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/services/appointment.service.spec.ts
  src/app/core/services/appointment.service.ts
  src/app/core/services/readings.service.ts
  src/app/core/services/session-timeout.service.ts
  src/app/dashboard/dashboard.page.spec.ts
  src/app/dashboard/dashboard.page.ts
  src/app/edit-reading/edit-reading.page.html
  src/app/profile/components/profile-preferences.component.html
  src/app/readings/components/readings-list/readings-list.component.html
  src/app/readings/components/readings-list/readings-list.component.scss
  src/app/readings/components/readings-list/readings-list.component.ts
  src/app/readings/readings.page.ts
  src/app/settings/advanced/advanced.page.html
  src/app/settings/advanced/advanced.page.spec.ts
  src/app/settings/advanced/advanced.page.ts
  src/environments/environment.local.ts
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, no-console-logs, no-hardcoded-text

docs(landing): add missing features to GitHub Pages landing page
  docs/index.html
Due: lint-html

docs: add v1.1.0 release link and What's New banner to landing page
  docs/index.html
Due: lint-html

fix: update Heroku demo URL to correct app domain
  docs/index.html
Due: lint-html

feat(landing): add v1.1.0 banner, APK download, and screenshot placeholders
  docs/index.html
Due: lint-html

docs(landing): update screenshots and remove unused sections
  docs/assets/screenshots/add-reading.png
  docs/assets/screenshots/add-reading.webp
  docs/assets/screenshots/appointments.png
  docs/assets/screenshots/appointments.webp
  docs/assets/screenshots/notifications.png
  docs/assets/screenshots/notifications.webp
  docs/assets/screenshots/readings.png
  docs/assets/screenshots/readings.webp
  docs/assets/screenshots/tips.png
  docs/assets/screenshots/tips.webp
  docs/index.html
Due: lint-html

docs: add MIT license, fix broken links, normalize screenshot paths
  LICENSE
  README.md
  docs/assets/screenshots/01_login.png
  docs/assets/screenshots/backoffice-consultas-aceptadas.png
  docs/assets/screenshots/backoffice-consultas-pendientes.png
  docs/assets/screenshots/backoffice-dashboard.png
  docs/assets/screenshots/backoffice-login.png
  docs/assets/screenshots/backoffice-pacientes.png
  docs/assets/screenshots/current.png
  docs/assets/screenshots/dashboard-high-contrast.webp
  docs/assets/screenshots/step2.png
  docs/index.html
Due: lint-html, lint-json

fix: back button on reset-password page + docker config
  docker/docker-compose.local.yml
  src/app/login/reset-password/reset-password.page.html
  src/app/login/reset-password/reset-password.page.ts
Due: lint-ts, lint-html, no-secrets, no-console-logs

fix: package.json to reduce vulnerabilities
  package.json
Due: lint-json, no-secrets, lockfile-check

Path conditions:
  lint-ts: any of: *.{ts,js}
  lint-html: any of: *.html
  lint-scss: any of: *.scss
  lint-json: any of: *.{json,md}
  no-secrets: any of: *.{ts,js,json,env}
  lockfile-check: any of: package.json
  no-console-logs: any of: *.ts
  no-hardcoded-text: any of: *.scss
