Repository diabetactic/diabetify: changes, and which lefthook commands are due for each by the changed paths.
All: lint-ts, lint-html, lint-scss, lint-json, no-secrets, lockfile-check, no-console-logs, no-hardcoded-text

Path conditions:
  lint-ts: any of: *.{ts,js}
  lint-html: any of: *.html
  lint-scss: any of: *.scss
  lint-json: any of: *.{json,md}
  no-secrets: any of: *.{ts,js,json,env}
  lockfile-check: any of: package.json
  no-console-logs: any of: *.ts
  no-hardcoded-text: any of: *.scss

fix(ci): add SPA mode to static server for client-side routing
  .github/workflows/ci.yml
Due: none

fix(e2e): adjust visual and accessibility test tolerances for CI
  .github/workflows/ci.yml
  playwright.config.ts
  playwright/tests/accessibility-audit.spec.ts
  playwright/tests/visual-regression.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(tests): translate Spanish comments to English
  src/app/tests/helpers/backend-services.helper.spec.ts
  src/app/tests/helpers/test-isolation.helper.spec.ts
  src/app/tests/integration-msw/token-refresh.integration.spec.ts
  src/app/tests/integration/auth/session-timeout-transactions.integration.spec.ts
  src/app/tests/integration/auth/token-refresh-during-operations.integration.spec.ts
  src/app/tests/integration/backend/auth.integration.spec.ts
  src/app/tests/integration/backend/bolus-calculator.integration.spec.ts
  src/app/tests/integration/backend/concurrent.integration.spec.ts
  src/app/tests/integration/backend/settings-sync.integration.spec.ts
  src/app/tests/integration/backend/trends-statistics.integration.spec.ts
  src/app/tests/integration/backend/workflows.integration.spec.ts
  src/app/tests/integration/storage/indexeddb-quota.integration.spec.ts
  src/app/tests/integration/sync/concurrent-sync-conflicts.integration.spec.ts
  src/app/tests/integration/sync/offline-queue-processing.integration.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(tests): translate remaining Spanish test descriptions to English
  src/app/tests/helpers/backend-services.helper.spec.ts
  src/app/tests/helpers/test-isolation.helper.spec.ts
  src/app/tests/integration/auth/session-timeout-transactions.integration.spec.ts
  src/app/tests/integration/auth/token-refresh-during-operations.integration.spec.ts
  src/app/tests/integration/backend/bolus-calculator.integration.spec.ts
  src/app/tests/integration/backend/concurrent.integration.spec.ts
  src/app/tests/integration/backend/settings-sync.integration.spec.ts
  src/app/tests/integration/backend/trends-statistics.integration.spec.ts
  src/app/tests/integration/backend/workflows.integration.spec.ts
  src/app/tests/integration/storage/indexeddb-quota.integration.spec.ts
  src/app/tests/integration/sync/concurrent-sync-conflicts.integration.spec.ts
  src/app/tests/integration/sync/offline-queue-processing.integration.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(tests): translate all remaining Spanish comments to English
  src/app/tests/helpers/backend-services.helper.spec.ts
  src/app/tests/helpers/test-isolation.helper.spec.ts
  src/app/tests/integration-msw/token-refresh.integration.spec.ts
  src/app/tests/integration/auth/session-timeout-transactions.integration.spec.ts
  src/app/tests/integration/backend/auth.integration.spec.ts
  src/app/tests/integration/backend/bolus-calculator.integration.spec.ts
  src/app/tests/integration/backend/concurrent.integration.spec.ts
  src/app/tests/integration/backend/settings-sync.integration.spec.ts
  src/app/tests/integration/backend/trends-statistics.integration.spec.ts
  src/app/tests/integration/backend/workflows.integration.spec.ts
  src/app/tests/integration/sync/concurrent-sync-conflicts.integration.spec.ts
  src/app/tests/integration/sync/offline-queue-processing.integration.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(tests): address all CodeRabbit review comments
  src/app/tests/helpers/backend-services.helper.spec.ts
  src/app/tests/helpers/test-isolation.helper.spec.ts
  src/app/tests/integration/backend/bolus-calculator.integration.spec.ts
  src/app/tests/integration/backend/settings-sync.integration.spec.ts
  src/app/tests/integration/backend/trends-statistics.integration.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(tests): translate remaining Spanish comments to English
  src/app/tests/integration/backend/bolus-calculator.integration.spec.ts
  src/app/tests/integration/backend/trends-statistics.integration.spec.ts
  src/app/tests/integration/sync/concurrent-sync-conflicts.integration.spec.ts
  src/app/tests/integration/sync/offline-queue-processing.integration.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(ci): correct vitest coverage command for DeepSource
  .github/workflows/ci.yml
Due: none

fix(ci): remove invalid --ci flag from vitest command
  .github/workflows/ci.yml
Due: none

fix(coverage): exclude boilerplate files from coverage report
  vitest.config.ts
Due: lint-ts, no-secrets, no-console-logs

fix(types): add Record<string, string> type to mapping objects
  src/app/appointments/appointment-detail/appointment-detail.page.ts
  src/app/readings/readings.page.ts
Due: lint-ts, no-secrets, no-console-logs

fix(quality): translate Spanish comments and fix CodeRabbit issues
  src/app/core/services/api-gateway.service.ts
  src/app/tests/integration/auth/token-refresh-during-operations.integration.spec.ts
  src/app/tests/integration/backend/settings-sync.integration.spec.ts
  src/app/tests/integration/backend/trends-statistics.integration.spec.ts
  src/app/tests/integration/storage/indexeddb-quota.integration.spec.ts
  src/app/tests/integration/sync/concurrent-sync-conflicts.integration.spec.ts
Due: lint-ts, no-secrets, no-console-logs

fix(quality): resolve DeepSource and CodeRabbit PR issues
  CLAUDE.md
  src/app/core/services/notification.service.ts
  src/app/tests/helpers/test-isolation.helper.ts
  src/app/tests/integration-msw/auth-workflow.integration.spec.ts
  src/app/tests/integration-msw/session-lifecycle.integration.spec.ts
  src/app/tests/integration-msw/sync-conflicts.integration.spec.ts
  src/app/tests/integration-msw/token-refresh.integration.spec.ts
  src/app/tests/integration/auth/session-timeout-transactions.integration.spec.ts
  src/app/tests/integration/auth/token-refresh-during-operations.integration.spec.ts
  src/app/tests/integration/backend/appointments-lifecycle.integration.spec.ts
  src/app/tests/integration/backend/appointments-queue.integration.spec.ts
  src/app/tests/integration/backend/auth.integration.spec.ts
  src/app/tests/integration/backend/bolus-calculator.integration.spec.ts
  src/app/tests/integration/backend/profile-crud.integration.spec.ts
  src/app/tests/integration/backend/settings-sync.integration.spec.ts
  src/app/tests/integration/backend/workflows.integration.spec.ts
  src/app/tests/integration/storage/indexeddb-quota.integration.spec.ts
  src/app/tests/integration/sync/concurrent-sync-conflicts.integration.spec.ts
  src/app/tests/integration/sync/offline-queue-processing.integration.spec.ts
Due: lint-ts, lint-json, no-secrets, no-console-logs

fix(coverage): exclude test infrastructure and dev-only files from coverage
  vitest.config.ts
Due: lint-ts, no-secrets, no-console-logs

fix(coverage): add exclude patterns to DeepSource test-coverage analyzer
  .deepsource.toml
Due: none

fix(deepsource): correct TOML config - move exclude patterns to top level
  .deepsource.toml
Due: none

fix(deepsource): add test_patterns to help identify test files
  .deepsource.toml
Due: none

fix(deepsource): temporarily disable test-coverage analyzer
  .deepsource.toml
Due: none

ci: strip to barebone CI for dev repo
  .github/dependabot.yml
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/visual-update.yml
Due: none

chore(conductor): update project plan and tracks
  conductor/code_styleguides/general.md
  conductor/code_styleguides/html-css.md
  conductor/code_styleguides/javascript.md
  conductor/code_styleguides/typescript.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup_state.json
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/phase1_sync_connectivity/metadata.json
  conductor/tracks/phase1_sync_connectivity/plan.md
  conductor/tracks/phase1_sync_connectivity/spec.md
  conductor/tracks/phase2_core_features/metadata.json
  conductor/tracks/phase2_core_features/plan.md
  conductor/tracks/phase2_core_features/spec.md
  conductor/tracks/phase3_ux_polish/metadata.json
  conductor/tracks/phase3_ux_polish/plan.md
  conductor/tracks/phase3_ux_polish/spec.md
  conductor/tracks/phase4_quality_infra/metadata.json
  conductor/tracks/phase4_quality_infra/plan.md
  conductor/tracks/phase4_quality_infra/spec.md
  conductor/tracks/phase5_maintenance/metadata.json
  conductor/tracks/phase5_maintenance/plan.md
  conductor/tracks/phase5_maintenance/spec.md
  conductor/tracks/sync_remote_20251226/metadata.json
  conductor/tracks/sync_remote_20251226/plan.md
  conductor/tracks/sync_remote_20251226/spec.md
  conductor/workflow.md
Due: lint-json, no-secrets

chore(conductor): Update sync track progress
  conductor/tracks.md
  conductor/tracks/sync_remote_20251226/plan.md
Due: lint-json

perf: add Turbo build caching and optimize pnpm
  .npmrc
  .stylelintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/app/core/services/open-food-facts.service.ts
  src/app/profile/components/profile-header.component.scss
  src/app/readings/components/readings-filter/readings-filter.component.ts
  src/app/readings/readings.html
  src/app/shared/components/food-picker/food-picker.component.scss
  src/app/shared/components/stat-card/stat-card.component.scss
  turbo.json
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, lockfile-check, no-console-logs, no-hardcoded-text

fix(hooks): update pre-push lint to work with Turbo
  lefthook.yml
Due: none

fix: resolve merge conflict in readings-list and remove unused AlertController import
  src/app/login/login.page.ts
  src/app/readings/components/readings-list/readings-list.component.html
Due: lint-ts, lint-html, no-secrets, no-console-logs

fix(a11y): resolve nested-interactive violation in readings list
  playwright/tests/appointment-comprehensive.spec.ts
  playwright/tests/docker-e2e-flows.spec.ts
  playwright/tests/readings-trends-comprehensive.spec.ts
  src/app/readings/components/readings-list/readings-list.component.html
Due: lint-ts, lint-html, no-secrets, no-console-logs

test(e2e): add Page Object Model for Playwright tests
  playwright/pages/add-reading.page.ts
  playwright/pages/appointment-create.page.ts
  playwright/pages/appointments.page.ts
  playwright/pages/base.page.ts
  playwright/pages/bolus-calculator.page.ts
  playwright/pages/dashboard.page.ts
  playwright/pages/index.ts
  playwright/pages/login.page.ts
  playwright/pages/profile.page.ts
  playwright/pages/readings.page.ts
  playwright/pages/tabs.page.ts
  playwright/pages/trends.page.ts
Due: lint-ts, no-secrets, no-console-logs

perf(e2e): reduce waitForTimeout calls in E2E tests
  playwright/tests/missing-pages-e2e.spec.ts
  playwright/tests/readings-trends-comprehensive.spec.ts
Due: lint-ts, no-secrets, no-console-logs

test: update E2E visual regression snapshots
  playwright/tests/visual-regression.spec.ts-snapshots/bolus-calculator-results-desktop-chromium.png
  playwright/tests/visual-regression.spec.ts-snapshots/profile-dark-mobile-chromium.png
  playwright/tests/visual-regression.spec.ts-snapshots/readings-detail-modal-desktop-chromium.png
  playwright/tests/visual-regression.spec.ts-snapshots/readings-detail-modal-mobile-chromium.png
Due: none

chore: remove Gemini CLI workflows
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: none

refactor: use APP_INITIALIZER for TranslationService initialization
  src/app/core/services/translation.service.spec.ts
  src/app/core/services/translation.service.ts
  src/main.ts
Due: lint-ts, no-secrets, no-console-logs

fix: use correct diabetesType enum values in test fixtures
  playwright/fixtures/auth.setup.ts
  playwright/helpers/test-helpers.ts
  playwright/pages/login.page.ts
Due: lint-ts, no-secrets, no-console-logs
