Repository diabetactic/diabetify: changes, and which lefthook commands are due for each by the changed paths.
All: lint-ts, lint-html, lint-scss, lint-json, no-secrets, lockfile-check, no-console-logs, no-hardcoded-text

Path conditions:
  lint-ts: any of: *.{ts,js}
  lint-html: any of: *.html
  lint-scss: any of: *.scss
  lint-json: any of: *.{json,md}
  no-secrets: any of: *.{ts,js,json,env}
  lockfile-check: any of: package.json
  no-console-logs: any of: *.ts
  no-hardcoded-text: any of: *.scss

conductor(plan): Mark offline auth tasks as complete
  conductor/tracks/verification_20260116/plan.md
Due: lint-json

chore(ui): Migrate remaining Material Icons to Lucide and remove Google Fonts dependency
  conductor/tracks/verification_20260116/plan.md
  src/app/appointments/appointment-detail/appointment-detail.page.scss
  src/app/appointments/appointments.page.html
  src/app/appointments/appointments.page.scss
  src/app/dashboard/dashboard.html
  src/app/dashboard/dashboard.page.scss
  src/app/shared/components/alert-banner/alert-banner.component.html
  src/app/shared/components/alert-banner/alert-banner.component.ts
  src/app/shared/components/bottom-sheet/bottom-sheet.component.ts
  src/app/shared/components/empty-state/empty-state.component.html
  src/app/shared/components/empty-state/empty-state.component.ts
  src/app/shared/components/stat-card/stat-card.component.html
  src/app/tabs/tabs.page.scss
  src/global.css
  src/index.html
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, no-console-logs, no-hardcoded-text

conductor(plan): Mark icon migration task as complete
  conductor/tracks/verification_20260116/plan.md
Due: lint-json

fix(ux): Polish offline experience and navigation
  conductor/tracks/verification_20260116/plan.md
  src/app/add-reading/add-reading.page.scss
  src/app/app.component.html
  src/app/app.component.ts
  src/app/appointments/appointment-detail/appointment-detail.page.scss
  src/app/appointments/appointments.page.ts
  src/app/settings/advanced/advanced.page.html
  src/app/settings/advanced/advanced.page.ts
  src/app/shared/components/offline-banner/offline-banner.component.ts
  src/app/tabs/tabs.page.scss
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, no-console-logs, no-hardcoded-text

conductor(plan): Mark Phase 3 as complete
  conductor/tracks/verification_20260116/plan.md
Due: lint-json

fix(appointments): Address data integrity and UI state issues
  conductor/tracks/verification_20260116/plan.md
  src/app/appointments/appointment-detail/appointment-detail.page.html
  src/app/appointments/appointment-detail/appointment-detail.page.ts
  src/app/appointments/appointments.page.ts
  src/app/shared/components/alert-banner/alert-banner.component.spec.ts
Due: lint-ts, lint-html, lint-json, no-secrets, no-console-logs

conductor(plan): Mark track as complete
  conductor/tracks/verification_20260116/plan.md
Due: lint-json

test: Add regression tests for Appointments logic and Settings navigation
  src/app/appointments/appointments.page.spec.ts
  src/app/settings/settings.page.spec.ts
Due: lint-ts, no-secrets, no-console-logs

chore: Add verification screenshots from emulator and update plan
  conductor/tracks/verification_20260116/plan.md
  screenshots/android-captures/01-initial-screen.png
  screenshots/android-captures/01-initial.png
  screenshots/android-captures/01-welcome.png
  screenshots/android-captures/02-dashboard-tab.png
  screenshots/android-captures/02-login-form.png
  screenshots/android-captures/03-dashboard.png
  screenshots/android-captures/03-middle-tab.png
  screenshots/android-captures/04-profile-tab.png
  screenshots/android-captures/04-readings.png
  screenshots/android-captures/04-tab-dashboard.png
  screenshots/android-captures/05-profile-interaction.png
  screenshots/android-captures/05-profile.png
  screenshots/android-captures/05-tab-readings.png
  screenshots/android-captures/06-fab-action.png
  screenshots/android-captures/06-tab-profile.png
  screenshots/android-captures/07-add-reading.png
  screenshots/android-captures/07-settings-modal.png
  screenshots/android-captures/08-add-reading-modal.png
  scripts/android-smart-capture.js
Due: lint-ts, lint-json, no-secrets

chore: Finalize verification artifacts and dependencies
  package.json
  pnpm-lock.yaml
  src/app/appointments/appointment-detail/appointment-detail.page.html
  src/app/appointments/appointment-detail/appointment-detail.page.ts
  src/app/appointments/appointments.page.html
  src/app/appointments/appointments.page.ts
  src/app/core/services/local-auth.service.offline.spec.ts
  src/app/settings/settings.page.ts
  src/app/shared/components/offline-banner/offline-banner.component.ts
  src/app/shared/components/stat-card/stat-card.component.html
Due: lint-ts, lint-html, lint-json, no-secrets, lockfile-check, no-console-logs

Delete netlify.toml as we move to heroku for web version
  netlify.toml
Due: none

Delete .deepsource.toml unused check
  .deepsource.toml
Due: none

chore: Finalize verification cleanup and pass quality checks
  conductor/tracks/verification_20260116/plan.md
  package.json
  pnpm-lock.yaml
  screenshots/android-captures/01-initial-screen.png
  screenshots/android-captures/01-initial.png
  screenshots/android-captures/01-welcome.png
  screenshots/android-captures/02-dashboard-tab.png
  screenshots/android-captures/02-login-form.png
  screenshots/android-captures/03-dashboard.png
  screenshots/android-captures/03-middle-tab.png
  screenshots/android-captures/04-profile-tab.png
  screenshots/android-captures/04-readings.png
  screenshots/android-captures/04-tab-dashboard.png
  screenshots/android-captures/05-profile-interaction.png
  screenshots/android-captures/05-profile.png
  screenshots/android-captures/05-tab-readings.png
  screenshots/android-captures/06-fab-action.png
  screenshots/android-captures/06-tab-profile.png
  screenshots/android-captures/07-add-reading.png
  screenshots/android-captures/07-settings-modal.png
  screenshots/android-captures/08-add-reading-modal.png
  scripts/android-smart-capture.js
  src/app/appointments/appointments.page.spec.ts
  src/app/settings/settings.page.spec.ts
Due: lint-ts, lint-json, no-secrets, lockfile-check, no-console-logs

feat(ui): improve barcode scanner visibility and verify test coverage
  conductor/tracks.md
  conductor/tracks/comprehensive_review_20260117/plan.md
  conductor/tracks/comprehensive_review_20260117/spec.md
  conductor/tracks/ui_ux_polish_20260117/plan.md
  conductor/tracks/ui_ux_polish_20260117/spec.md
  conductor/tracks/verification_20260116/plan.md
  docs/ARCHITECTURE.md
  src/app/appointments/appointment-timeline/appointment-timeline.component.spec.ts
  src/app/appointments/appointment-timeline/appointment-timeline.component.ts
  src/app/core/services/local-auth.service.spec.ts
  src/app/core/services/local-auth.service.ts
  src/app/dashboard/dashboard.html
  src/app/profile/components/profile-actions.component.html
  src/app/profile/components/profile-preferences.component.html
  src/app/profile/components/profile-preferences.component.ts
  src/app/profile/profile.html
  src/app/profile/profile.page.spec.ts
  src/app/profile/profile.page.ts
  src/app/settings/advanced/advanced.page.html
  src/app/settings/advanced/advanced.page.ts
  src/app/shared/components/app-icon/app-icon.component.ts
  src/app/shared/components/food-picker/food-picker.component.html
  src/app/shared/components/food-picker/food-picker.component.scss
  src/app/shared/components/info-button/info-button.component.ts
  src/app/shared/components/stat-card/stat-card.component.html
  src/app/shared/components/stat-card/stat-card.component.ts
  src/app/shared/icons/lucide-icons.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/test-setup/index.ts
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, no-console-logs, no-hardcoded-text

fix(dashboard): restore missing stat card icons and fix mapping
  src/app/dashboard/dashboard.page.ts
  src/app/shared/components/stat-card/stat-card.component.ts
  src/app/shared/components/stat-card/stat-card.icons.spec.ts
Due: lint-ts, no-secrets, no-console-logs

conductor(plan): Mark task 'Restore Dashboard Stat Card Icons' as complete
  conductor/tracks/final_polish_20260117/plan.md
Due: lint-json

fix(appointments): handle offline state and suppress server error
  src/app/appointments/appointments.offline.spec.ts
  src/app/appointments/appointments.page.ts
Due: lint-ts, no-secrets, no-console-logs

conductor(plan): Mark task 'Implement "You are Offline" State for Appointments' as complete
  conductor/tracks/final_polish_20260117/plan.md
Due: lint-json

fix(i18n): add missing translation keys for dashboard stat card info
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-json, no-secrets

feat(debug): add navigation logging to trace ghost navigation
  src/app/app.component.ts
Due: lint-ts, no-secrets, no-console-logs

refactor(profile): move Tips button to main form section under Achievements
  src/app/profile/components/profile-form.component.html
  src/app/profile/components/profile-form.component.ts
  src/app/profile/components/profile-preferences.component.html
  src/app/profile/components/profile-preferences.component.ts
  src/app/profile/profile.html
Due: lint-ts, lint-html, no-secrets, no-console-logs

conductor(plan): Mark task 'Relocate Tips Entry Point' as complete
  conductor/tracks/final_polish_20260117/plan.md
Due: lint-json

feat(tips): reskin tips page to match achievements styling
  src/app/tips/tips.page.html
  src/app/tips/tips.page.scss
  src/app/tips/tips.page.spec.ts
  src/app/tips/tips.page.ts
Due: lint-ts, lint-html, lint-scss, no-secrets, no-console-logs, no-hardcoded-text

conductor(plan): Mark task 'Reskin Tips Screen UI' as complete
  conductor/tracks/final_polish_20260117/plan.md
Due: lint-json

feat(profile): make diabetes info editable
  src/app/profile/components/diabetes-info-modal/diabetes-info-modal.component.html
  src/app/profile/components/diabetes-info-modal/diabetes-info-modal.component.scss
  src/app/profile/components/diabetes-info-modal/diabetes-info-modal.component.ts
  src/app/profile/components/profile-form.component.html
  src/app/profile/components/profile-form.component.spec.ts
  src/app/profile/components/profile-form.component.ts
  src/app/profile/profile.page.ts
Due: lint-ts, lint-html, lint-scss, no-secrets, no-console-logs, no-hardcoded-text

feat(profile): make emergency contact editable
  src/app/profile/components/emergency-contact-modal/emergency-contact-modal.component.html
  src/app/profile/components/emergency-contact-modal/emergency-contact-modal.component.scss
  src/app/profile/components/emergency-contact-modal/emergency-contact-modal.component.ts
  src/app/profile/components/profile-form.component.html
  src/app/profile/components/profile-form.component.ts
  src/app/profile/profile.html
  src/app/profile/profile.page.ts
Due: lint-ts, lint-html, lint-scss, no-secrets, no-console-logs, no-hardcoded-text

conductor(plan): Mark task 'Make Emergency Contact Editable' as complete
  conductor/tracks/final_polish_20260117/plan.md
Due: lint-json

feat(ui): refactor edit age popup styling
  src/app/profile/profile.page.ts
  src/global.css
Due: lint-ts, no-secrets, no-console-logs

style(settings): polish settings layout and icons
  src/app/settings/settings.page.html
  src/app/shared/components/app-icon/app-icon.component.ts
  src/app/shared/icons/lucide-icons.ts
Due: lint-ts, lint-html, no-secrets, no-console-logs

conductor(plan): Mark track 'Final UI Polish & Functional Enhancements' as verification complete
  conductor/tracks/final_polish_20260117/plan.md
Due: lint-json

chore(conductor): Mark track 'Final UI Polish & Functional Enhancements' as complete
  conductor/tracks.md
Due: lint-json

chore(conductor): Archive track 'Final UI Polish & Functional Enhancements'
  conductor/archive/final_polish_20260117/index.md
  conductor/archive/final_polish_20260117/metadata.json
  conductor/archive/final_polish_20260117/plan.md
  conductor/archive/final_polish_20260117/spec.md
  conductor/tracks.md
Due: lint-json, no-secrets

feat: add camera permission, UI polish, and test improvements
  android/app/src/main/AndroidManifest.xml
  conductor/archive/final_polish_20260117/metadata.json
  conductor/archive/final_polish_20260117/plan.md
  conductor/archive/final_polish_20260117/spec.md
  conductor/tracks.md
  conductor/tracks/comprehensive_review_20260117/plan.md
  conductor/tracks/comprehensive_review_20260117/spec.md
  conductor/tracks/final_polish_20260117/plan.md
  conductor/tracks/ui_ux_polish_20260117/plan.md
  conductor/tracks/ui_ux_polish_20260117/spec.md
  conductor/tracks/verification_20260116/plan.md
  docker/seed-test-data.sh
  docs/ARCHITECTURE.md
  playwright/tests/functional/dashboard.functional.spec.ts
  src/app/app.component.ts
  src/app/appointments/appointments.offline.spec.ts
  src/app/profile/components/diabetes-info-modal/diabetes-info-modal.component.html
  src/app/profile/components/emergency-contact-modal/emergency-contact-modal.component.html
  src/app/profile/components/profile-actions.component.html
  src/app/profile/components/profile-form.component.html
  src/app/profile/components/profile-form.component.spec.ts
  src/app/profile/profile.page.ts
  src/app/tips/tips.page.scss
  src/app/tips/tips.page.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/global.css
  src/test-setup/index.ts
Due: lint-ts, lint-html, lint-scss, lint-json, no-secrets, no-console-logs, no-hardcoded-text

infra(docker): add Redis for refresh tokens
  docker/docker-compose.local.yml
Due: none

test(auth): add tests for 503 Token service unavailable handling
  src/app/core/services/local-auth.service.spec.ts
  src/app/tests/integration-msw/token-refresh.integration.spec.ts
Due: lint-ts, no-secrets, no-console-logs

feat(appointments): add polling for resolution and improve state handling
  src/app/appointments/appointment-detail/appointment-detail.page.html
  src/app/appointments/appointment-timeline/appointment-timeline.component.spec.ts
  src/app/appointments/appointment-timeline/appointment-timeline.component.ts
  src/app/appointments/appointments.page.html
  src/app/appointments/appointments.page.ts
  src/app/core/services/appointment.service.ts
  src/app/core/services/readings-sync.service.ts
  src/app/tabs/tabs.page.ts
  src/app/tests/integration-msw/auth-workflow.integration.spec.ts
  src/app/tests/integration-msw/session-lifecycle.integration.spec.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-ts, lint-html, lint-json, no-secrets, no-console-logs

chore(heroku): remove dev deps after build
  package.json
Due: lint-json, no-secrets, lockfile-check

fix(heroku): serve browser build output
  server/heroku-web-server.js
Due: lint-ts, no-secrets
